<a href="https://colab.research.google.com/github/ChastityB/Placeholder/blob/main/Redo_of_Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project 2 - Part 1 (Core)

Chastity Benton

March 2022

#Load the Libraries

In [1]:
import pandas as pd
import numpy as np

##First Choice: Dataset 1

In [4]:
df1 = pd.read_csv('/content/drive/MyDrive/Coding Dojo/02 Machine Learning/03 Week 3: Classification Models/Assignment Exercise/Project Part 2/healthcare-dataset-stroke-data.csv')
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

##Task Questions

###* 
**1) Source of data**
This dataset was can be found on [Kaggle](https://www.kaggle.com/fedesoriano/stroke-prediction-dataset). 

**2) Brief description of the data**
This dataset is used to predict whether a patient is likely to get a stroke based on the dataset.

**3)What is the target?**
The target is finding out if a patient is prone to having a stroke

**4) Is this a classification or regression problem?**
This is a classification problem

**5) How many features are there?**
There are 12 features

**6)How many rows of data?**
5110 rows

**7) what, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**
Interpreting the missing or inconsistent values correctly.

#Second Choice: Dataset 2

In [11]:
df2 = pd.read_csv('/content/drive/MyDrive/Coding Dojo/02 Machine Learning/03 Week 3: Classification Models/Assignment Exercise/Project Part 2/diabetic_data.csv')
df2.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

##Task Questions

###* 
**1) Source of data**
This dataset was can be found on [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008). 


**2) Brief description of the data**
This dataset is used to predict whether a diabetic patient was re-admitted to the hospital or not. 

**3)What is the target?**
The target is readmitted

**4) Is this a classification or regression problem?**
This is a classification problem

**5) How many features are there?**
There are 50 features

**6)How many rows of data?**
101766 rows

**7) what, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**
  * Removing unnecessary data. There is a lot of ? aka nan's in the data that need to be addressed and removed. 
  * Truly determining if readmittance is the target.
  * Understanding each of the categories.